nav
{
    display: flex;
    height: 75px;
    list-style-type: none;
    background-color: yellow;
}

nav li
{
    height: 50px;
    width: 125px;
    background-color: lightgreen;
    margin-right: 10px;
    transition: 0.3s ease;
}

nav li:hover
{
    background-color: lightcoral;
    border-radius: 11%;
    height: 40px;
    width: 100px;
}